.classView {
  width: 100%;
  background-color: #fafafa;
}

.classInfoCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin-bottom: 12px;
  gap: 12px;
}

.teacherInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.teacherImg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  width: 100px;
  height: 100px;
  background-color: #21958f;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: 32px;
  color: #fafafa;
}

.btn {
  background-color: #21958f;
  margin-right: 24px;
  padding: 12px;
  border-radius: 12px;
}

.icon2 {
  font-size: 22px;
  color: #fafafa;
}

.teacherId{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.classInfo {
  display: flex;
  flex-direction: column;
  gap: 10px   ;
}

.studentsContainer {
  padding: 0 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.btn {
  background-color: #fafafa;
  color: #21958f;
  border: #21958f 2px solid;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;    
  text-decoration: none;
  transition: all 0.3s;
}

.btn:hover {
  color: #fafafa;
  background-color: #36c8c1;
}

.btn:active {
  transform: scale(.98);
}

.contentContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-self: center;
  gap: 12px;
  padding: 24px;
}