* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    display: flex;
}

.routes {
    background-color: #9fd4d1;
    display: flex;
    flex: 1;
}

.viewBtn {
    color: #006868;
}