@import url('https://fonts.googleapis.com/css2?family=muli&display=swap');

body {
    font-family: 'muli', sans-serif;
    color: #006868;
}

.viewBtn {
    color: #006868;
}

.link {
    text-decoration: none;
    color:#006868;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    width: 100%;
    padding: 8px 20px;
    text-align: left;
    transition: all 0.3s;
}

.link:hover {
   background-color: #3a9e9e;
   color: #fafafa;
}

.active {
    background-color: #36baba;
    color: #fafafa;
}