/* Hero section */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  background-color: #f2f2f2;
}

.hero img {
  max-height: 400px;
  max-width: 100%;
  padding: 20px;
}

.hero-text {
  text-align: center;
  color: #333;
  padding: 20px;
}

.hero-text h1 {
  font-size: 4em;
  margin-bottom: 0.5em;
}

.hero-text p {
  font-size: 1.5em;
  margin-bottom: 2em;
}

.apply-btn {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 1.2em;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.apply-btn:hover {
  background-color: #006080;
}

/* Programs section */
.programs {
  background-color: #fff;
  color: #333;
  padding: 40px;
}

.programs h2 {
  font-size: 2em;
  margin-bottom: 1em;
}

.program-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.program-card {
 width: calc(33.33% - 20px);
  margin-bottom: 40px;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.program-card:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.program-card img {
  max-height: 150px;
  max-width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
}

.program-card h3 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.program-description {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 0;
}

/* Activities section */
.activities {
  background-color: #f2f2f2;
  color: #333;
  padding: 40px;
}

.activities h2 {
  font-size: 2em;
  margin-bottom: 1em;
}

.activities ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}

.activities li {
  margin-bottom: 0.5em;
}

/* Footer section */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

footer p {
  margin: 0;
}

footer a {
  color: #fff;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .program-card {
    width: 100%;
  }
}

